.btn{
	background-color: #ffd6b3;
}

.row{
	margin-left:0px;
	margin-right: 0px;
}


.title-adding{
	text-align: center;
}

.ddmenu{
	float: right;
	margin: 0;
	width: 95px;
	position: relative;
	list-style: none;
}

.dbmenu li{
	position: absolute;
	list-style:none;
}

.upper-li{
	border-radius: 10px 10px 0 0;
}

.dbmenu-go{
	border-radius: 10px;
}

.lower-li{
	border-radius: 0 0 10px 10px;
}

.dbmenu-go li:hover{
	background:gray;
}

.ddmenu:hover{
	cursor: pointer;
}

.dbmenu-go li{
	transition: background 0.5s ease;
}

.dbmenu-go{
	display: none;
	color:white;
	width: 95px;
	left: 0%;
	background: black;
	position: absolute;
	list-style: none;
	z-index: 100;
}

.text-wrapper{
	margin-top:10px;
}

.dbmenu-go li{
	border: 1px solid white;
	text-align: center;	
	height: 40px;
}

.modal-spinner-wrapper{
	float: left;
}

.modal-preloader{
	height: 20px;
}

.head-wrap{
	overflow-wrap: break-word;
  	word-wrap: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.info-reg-email{
	color: 	red;
}

.reg-login-input{
	border: 2px solid black;
	width: 	100%;
	border-radius: 7px;
}

.reg-login-input:focus{
	outline: 0;
}

.reg-email-input{
	border: 2px solid black;
	width: 	100%;
	border-radius: 7px;
}

.reg-email-input:focus{
	outline: 0;
}

.reg-password-input{
	width: 100%;
}

.reg-password-input-two{
	width: 	100%;
}

.open-post-title{
	text-align: center;
}

.auth-checkbox{
	margin-top: 10px;
}

.login-input{
	width: 100%;
}

.user-icon{
	float: right;
	margin-top:5px;
	display: none;
}


.modal-footer{
	border: 0px;
}

.password-input{
	width: 100%;
}

.img-wrapper{
	text-align: center;
}

.modal-logon-info{
	margin-bottom: 10px;
	float:left;
}

.modal-reg-info{
	color:red;
}

.spinner-wrapper{
	text-align: center;
	margin-top:175px;
}

.info-reg-login{
	color: 	red;
}

.error-reg-email{
	color: red;
}

.error-reg-password{
	color: red;
}

.error-reg-password-two{
	color:red;
}

.right-reg-login{
	color:green;
}

.preloader{
}

.open-post-image{
	width: 50%;
}

.open-post-author{
	color: gray;
}

.open-post-date{
	float: right;
	color: gray;
}

.open-post-tags{
	color: gray;
}

.buttons-panel{
	text-align: center;

}

.more-button{
	margin-bottom: 10px;
}

.clearfix{
	clear: both;
}


html{
	margin-right: 0px;
	position: relative;
	width: 100%;
    font-size: 100%;
}

body{
	height: 100%;
    bottom: 0;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}

.news-post{
	min-height: 200px;
	background-color: gray;
	color: black;
}

.edit-button{
	display: none;
	color: white;
	background-color: black;
	float: right;
}

.edit-button:hover{
	background-color: gray;
	color: black;
}

.delete-button:hover{
	background-color: gray;
	color: black;
}

.read-button:hover{
	background-color: gray;
	color: black;
}

.delete-button{
	display: none;
	color: white;
	background-color: black;
	margin-right: 5px;
	float: right;
}

.read-button{
	color: white;
	background-color: black;
	margin-right: 5px;
	float: right;
}

.footer{
	background-color: black;
	height : 100px;
	text-align: center;
	color: white;
	width: 100%;
	padding-top: 35px;
}

.header{
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	height:100px;
	background-color: black;
}


body{
	background-image: url("../images/background.jpg");
}

.mid{
	background-color: white;
	margin-left: 40px;
	margin-right: 40px;
	min-height: 600px;
}

.post-title{
	overflow-wrap: break-word;
  	word-wrap: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
	margin-top: 0px;
}

.image-cross{
	margin-top: 2px;
	margin-right: 5px;
	float: right;
}

.image-redact{
	margin-top: 2px;
	float: right;
	margin-right: 5px;
}

.post-info{
	float:right;
	margin-left:5px;
    padding: 0;
    min-height: 200px;
    width: 67%;
}

.post-buttons{
	float: right;
	height: 20px;
}

.post-summer{
	padding: 0;
	min-height: 160px;
}

.open-button{
	margin-top:20px;
	margin-right: 20px;
	float: right;
}

.tags{
	margin-left: 5px;
	color: gray;
}

.user-name{
	margin-top: 5px;
	color: gray;
	float: left;
}

.date-creation{
	margin-top: 5px;
	color: gray;
	float: left;
}

.redact-button{
	margin-right: 15px;
	margin-top: 20px;
	float: right;
}

.post-tags{
	min-height: 20px;
}

.post-config{
	display: inline-block;
	float: left;
}

.check{
	min-height: 30px;
}

.post-image-wrap{
	float: left;
    padding: 0;
    width: 30%;
}

.post-image{
	display: block;
	float: left;
	margin-left: 15px;
    width: 100%;
}


.logo{
	height:100px;
	color: white;
	font-family: Monotype Corsiva;
	text-align: center;
}

.reg{
	margin-top: 30px;
	background-color: black;
	float: right;
	margin-right: 5px;
}

.auth{
	margin-right: 5px;
	margin-top: 30px;
	float: right;
	background-color: black;
}

.logon-title{
	text-align: center;
}

.logon-button{
	background-color: black;
	color: white;
}

.reg-title{
	text-align:center;
}

.reg-button{
	background-color: black;
	color: 	white;
	width: 40%;
}

.logo h1{
	font-size: 40pt;
}
.panel-header{
	background-color: black;
	height: 100px;
}

.left{
	width: 100px;
	background-color: blue;
	height: 100%;
}

.right{
	width: 100px;
	background-color: blue;
	height: 100%;
}

.mid-panel{
	width: 100%;
	background-color: white;
	min-height:600px;
}

@media(max-width: 770px) {

	.user-icon{
		float: none;
	}

	.header {
		height: 330px;
	}

	.post-summer{
	}

	.date-creation{
		float: none;
	}

	.user-name{
		float: none;
	}

	.post-info{
		margin: 0 auto;
		float: none;
		text-align: center;
	}

	.logo h1{
		font-size: 30pt;
	}

	.mid-panel{
		width: 100%;
		padding-right: 0px;
	}

	.mid {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.post-image-wrap{
		width: 50%;
		margin: 0 auto;
	}

	.buttons-tags-group{
		text-align: center;
	}

	.info-box{
		padding-top: 2px;
		text-align: center;
	}

	.edit-button{
		float: none;
	}

	.read-button{
		float: none;
	}

	.delete-button{
		float: none;
	}

	.tags{
		float: none;
	}

	.post-title{
		width: 	100%;
	}

	.auth{
		float: none;
	}
	.reg{
		float: none;
	}
}

@media(max-width: 160px){
	body{
		overflow: auto;
	}
	.mid{
		width: 160px;
	}

	.footer{
		width: 160px;
	}

	.header{
		width: 160px;
	}
}

@media (max-width: 1225px) {
	.auth{
		margin-top: 10px;
	}

	.reg{
		margin-top: 10px;
	}
	
}

.search-form{
	width: 100%;
	margin-right: 0px;
	padding-top: 30px;
}

.search-form .form-group {
	float: left !important;
	transition: all 0.35s, border-radius 0s;
	width: 32px;
	height: 32px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 25px;
	border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
	border: 0 none;
	background: transparent;
	box-shadow: none;
	display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
	display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
	/* Firefox 18- */
	display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
	/* Firefox 19+ */
	display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
	display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
	width: 100%;
	border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #3596e0;
	left: initial;
	font-size: 14px;
}

