.btn{
	background-color: #ffd6b3;
}

.row{
	margin-left:0px;
	margin-right: 0px;
}

.image-preview-wrapper{
	text-align: center;	
}


h1, h2, h3, h4, h5, h6{
	overflow-wrap: break-word;
  	word-wrap: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.add-tags-group{
	display: inline;
	overflow: auto;
}

.modal-info-tags{
	display: none;
}

.close-block{
	position: absolute;
	display: inline;
	float: 	right;
	width: 13px;
	right: 2%;
	top:31%;
	height: 13px;
	cursor: pointer;
}

.tags-div, .authors-div{
	margin-bottom: 5px;
	text-align: center;
	padding-top:8px;
	padding-left: 5px;
	padding-right:20px;
	margin-right: 10px;
	display: inline-block;
	color: white;
	background-color: black;
	border-radius: 7px;
	position: relative;
}

.input-tags-div{
	padding: 1px;
	border-radius: 5px;
	margin-right: 2px;
	background-color:black;
	border: 1px solid black;
	display: inline;
	color: white;
}

.post-image-wrapper{
	text-align: center;
}

.post-header-group{
	position: relative;
}

.blog-post-image{
  max-height: 620px;
}

.tag{
	border: 1px solid black;
	border-radius: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 2px;
	margin-top: 4px;
	padding: 2px;
	font-size: 7pt;
}

.reply-author{
	cursor: pointer;
}

.reply-author:hover{
	color: gray;
	text-decoration: underline;
}

.input-tags{
	white-space: nowrap;
	display: inline;
}

.tags-preview-wrapper, .login-preview-wrapper, .date-preview-wrapper{
	color:gray;
}

.add-load-button{
	transition: background 0.5s ease;
	background: black;
	color: 	white;
}


.title-preview-wrapper{
	overflow-wrap: break-word;
  	word-wrap: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
	text-align: center;
}

.content-preview-wrapper{
	overflow-wrap: break-word;
  	word-wrap: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.buttons-group{
	position: relative;
	text-align: center;
}

.preview-image{
	width: 50%;
}

.title-adding{
	text-align: center;
}

.add-tags-group{
	margin-top:10px;
}

.preview, .send-article{
	float:right;
	margin-bottom: 10px;
	background-color:black;
	color: 	white;
}

.input-image, .input-title,.input-tags{
	border: 1px solid black;
	width: 50%;
	border-radius: 5px;
	outline: 0;
}

.input-summary{
	margin-bottom: 	10px;
	border-radius: 5px;
	width: 50%;
	height: 300px;
	outline: 0;
	border: 1px solid black;
}

.input-image:focus, .input-title:focus, .input-summary:focus, .input-tags:focus{
	border: 1px solid #1E90FF;
}

.ddmenu{
	float: right;
	margin: 0;
	width: 95px;
	position: relative;
	list-style: none;
}

.dbmenu li{
	position: absolute;
	list-style:none;
}

.upper-li{
	border-radius: 10px 10px 0 0;
}

.dbmenu-go{
	border-radius: 10px;
}

.lower-li{
	border-radius: 0 0 10px 10px;
}

.dbmenu-go li:hover{
	background:gray;
}

.ddmenu:hover{
	cursor: pointer;
}

.dbmenu-go li{
	transition: background 0.5s ease;
}

.dbmenu-go{
	display: none;
	color:white;
	width: 95px;
	left: 0%;
	background: black;
	position: absolute;
	list-style: none;
	z-index: 100;
}

.text-wrapper{
	margin-top:10px;
}

.dbmenu-go li{
	border: 1px solid white;
	text-align: center;	
	height: 40px;
}

.modal-spinner-wrapper{
	float: left;
}

.modal-preloader{
	height: 20px;
}

.head-wrap{
	overflow-wrap: break-word;
  	word-wrap: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.info-reg-email{
	color: 	red;
}

.reg-login-input{
	border: 2px solid black;
	width: 	100%;
	border-radius: 7px;
}

.reg-login-input:focus{
	outline: 0;
}

.reg-email-input{
	border: 2px solid black;
	width: 	100%;
	border-radius: 7px;
}

.reg-email-input:focus{
	outline: 0;
}

.reg-password-input{
	width: 100%;
}

.reg-password-input-two{
	width: 	100%;
}

.open-post-title{
	text-align: center;
}

.auth-checkbox{
	margin-top: 10px;
}

.login-input{
	width: 100%;
}

.user-icon{
	float: right;
	margin-top:5px;
	display: none;
}


.modal-footer{
	border: 0px;
}

.password-input{
	width: 100%;
}

.img-wrapper{
	text-align: center;
}

.modal-logon-info{
	margin-bottom: 10px;
	float:left;
}

.modal-reg-info{
	color:red;
}

.spinner-wrapper{
	text-align: center;
	margin-top:175px;
}

.info-reg-login{
	color: 	red;
}

.error-reg-email{
	color: red;
}

.error-reg-password{
	color: red;
}

.error-reg-password-two{
	color:red;
}

.right-reg-login{
	color:green;
}

.preloader{
}

.open-post-image{
	width: 50%;
}

.open-post-author{
	color: gray;
}

.open-post-date{
	color: gray;
}

.open-post-tags{
	color: gray;
}

.buttons-panel{
	text-align: center;

}

.more-button{
	margin-bottom: 10px;
}

.clearfix{
	clear: both;
}


html{
	margin-right: 0px;
	position: relative;
	width: 100%;
    font-size: 100%;
}

body{
	height: 100%;
    bottom: 0;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}

.news-post{
	min-height: 200px;
	background-color: gray;
	color: black;
}


.space-comment{
	min-height: 10px;
}

.reply-button{
	color: white;
	background-color: black;
	float: right;
}

.reply{
	margin-top:10px;
}

.reply-button:hover{
	background-color: #2e6da4;
	color: white;
}

.stat-item{
	background-color: white;
}



.comment-content-inside{
	overflow-wrap: break-word;
  	word-wrap: break-word;
	hyphens: auto;
}

.add-comment-button{
	background-color: black;
	color: white;
}

.comment-post{
	border: 2px solid black;
	border-radius: 2px;
	margin-top: 10px;
	overflow-wrap: break-word;
  	word-wrap: break-word;
	hyphens: auto;
	background-color: gray;
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
}

.comment-avatar{
}

.article-settings-button{
	border: 1px solid black;
	color: white;
	background-color: black;
}

.ul-article-settings{
	width: 30px;
	float: right;
	position: relative;
	margin-right: 10px;
}

.article-settings-button:hover{
	background-color: gray;
	color: black;
}

.load-comments{
	margin-bottom: 5px;
	width: 100%;
	color: white;
	background-color: black;
}

.load-comments-wrapper{
	text-align: center;
}

.delete-button:hover, .edit-button:hover, .report-button:hover{
	background-color: black;
	color: white;
}

.read-button:hover{
	background-color: gray;
	color: black;
}

.edit-button{
	cursor: pointer;
	list-style: none;
	text-align: center;
}

.report-button{
	cursor: pointer;
	list-style: none;
	text-align: center;
}

.article-settings{
	background-color: black;
	float: right;
	margin-right:4px;
	border: 1px solid black;
	border-radius: 6px;
}

.delete-button{
	cursor: pointer;
	text-align: center;
	list-style: none;
}

.read-button{
	color: white;
	background-color: black;
	margin-right: 5px;
	float: right;
}

.footer{
	background-color: black;
	height : 100px;
	text-align: center;
	color: white;
	width: 100%;
	padding-top: 35px;
}

.header{
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	height:100px;
	background-color: black;
}


body{
	background-image: url("../images/background.jpg");
}

.mid{
	background-color: white;
	margin-left: 40px;
	margin-right: 40px;
	min-height: 600px;
}

.post-title{
	overflow-wrap: break-word;
  	word-wrap: break-word;
	hyphens: auto;
	text-align: center;
	-webkit-hyphens: auto;
	margin-top: 0px;
}

.image-cross{
	margin-top: 2px;
	margin-right: 5px;
	float: right;
}

.image-redact{
	margin-top: 2px;
	float: right;
	margin-right: 5px;
}

.post-info{
	float:right;
	margin-left:5px;
    padding: 0;
    min-height: 200px;
    width: 67%;
}

.post-buttons{
	float: right;
	height: 20px;
}

.post-summer{
	padding: 0;
	min-height: 160px;
}

.open-button{
	margin-top:20px;
	margin-right: 20px;
	float: right;
}

.tags{
	margin-left: 5px;
	color: gray;
	display: inline;
}

.user-name{
	margin-top: 5px;
	color: gray;
	text-decoration: underline;
	cursor: pointer;
	float: left;
}

.date-creation{
	margin-top: 5px;
	color: gray;
	float: left;
}

.redact-button{
	margin-right: 15px;
	margin-top: 20px;
	float: right;
}

.post-tags{
	min-height: 20px;
}

.post-config{
	display: inline-block;
	float: left;
}

.check{
	min-height: 30px;
}

.post-image-wrap{
	float: left;
    padding: 0;
    width: 30%;
}

.post-image{
	display: block;
	float: left;
	margin-left: 15px;
    width: 100%;
}


.logo{
	height:100px;
	color: white;
	font-family: Monotype Corsiva;
	text-align: center;
}

.reg{
	margin-top: 30px;
	background-color: black;
	float: right;
	margin-right: 5px;
}

.auth{
	margin-right: 5px;
	margin-top: 30px;
	float: right;
	background-color: black;
}

.logon-title{
	text-align: center;
}

.logon-button{
	background-color: black;
	color: white;
}

.reg-title{
	text-align:center;
}

.reg-button{
	background-color: black;
	color: 	white;
	width: 40%;
}

.logo h1{
	font-size: 40pt;
}
.panel-header{
	background-color: black;
	height: 100px;
}

.mid-panel{
	width: 100%;
	background-color: white;
	min-height:600px;
}

@media(max-width: 770px) {

	.user-icon{
		float: none;
	}

	.header {
		height: 330px;
	}

	.post-summer{
	}

	.date-creation{
		float: none;
	}


	.user-name{
		float: none;
	}

	.post-info{
		margin: 0 auto;
		float: none;
		text-align: center;
	}

	.logo h1{
		font-size: 30pt;
	}

	.mid-panel{
		width: 100%;
		padding-right: 0px;
	}

	.mid {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.post-image-wrap{
		width: 50%;
		margin: 0 auto;
	}

	.tags-group{
		text-align: center;
	}

	.info-box{
		padding-top: 2px;
		text-align: center;
	}

	.article-settings-button{
		float: none;
	}

	.read-button{
		float: none;
	}

	.delete-button{
		float: none;
	}

	.tags{
		float: none;
	}

	.post-title{
		width: 	100%;
	}

	.auth{
		float: none;
	}
	.reg{
		float: none;
	}
}

@media(max-width: 500px){
	.comment-post{
		margin-left:0px;
	}
}

@media(max-width: 160px){
	body{
		overflow: auto;
	}
	.mid{
		width: 160px;
	}

	.footer{
		width: 160px;
	}

	.header{
		width: 160px;
	}
}

@media (max-width: 1225px) {
	.auth{
		margin-top: 10px;
	}

	.reg{
		margin-top: 10px;
	}
	
}

.search-form{
	width: 100%;
	margin-right: 0px;
	padding-top: 30px;
}

.search-form .form-group {
	float: left !important;
	transition: all 0.35s, border-radius 0s;
	width: 32px;
	height: 32px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 25px;
	border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
	border: 0 none;
	background: transparent;
	box-shadow: none;
	display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
	display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
	/* Firefox 18- */
	display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
	/* Firefox 19+ */
	display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
	display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
	width: 100%;
	border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #3596e0;
	left: initial;
	font-size: 14px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}


.carousel .item {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  left: 0 !important;
  overflow: hidden;
}

.carousel{
	overflow: hidden;
	max-height: 200px;
}

.carousel .next.left,
.carousel .prev.right {
  opacity: 1;
  z-index: 1;
}
.carousel .active.left,
.carousel .active.right {
  opacity: 0;
  z-index: 2;
} 


.slider-image{
	overflow: hidden;
	object-fit:cover;
}
     
.carousel .carousel-control {
  z-index: 1000;
  outline:none;
}


/*NEW */
a:hover { text-decoration:none; }
.btn
{
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.btn-read-more
{
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    display: inline-block;
    border: 2px solid #662D91;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color:#662D91;
}

.btn-read-more:hover
{
    color: #FFF;
    background: #662D91;
}
.post { border-bottom:1px solid #DDD }
.post-title {  color:#black; }
.post .glyphicon { margin-right:5px; }
.post-header-line { border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:5px 0px 5px 15px;font-size: 12px; }
.post-content { padding-bottom: 15px;padding-top: 15px;}
